// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #f1b37d;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-red: #ff7476;
$lighter-red: rgb(255, 173, 174);

$magnolia: #F5F2FF;
$dark-green: #353D2F;
$green: #6BA368;
$bright-green: #70bb6c;
$brown: #453A34;
$pale-green: #F3F7F2;
$pale-green-shaddow: #e0e4de;
$slight-light-gray: #777;

