// Specific CSS for your home-page
.subtitle{
  padding: 20px;
  font-weight: lighter;
  text-shadow: 0px 1px 1px $pale-green-shaddow;
}

.home-search{
  position: relative;
  align-self: center;
  height: 4em;
  background-color: $magnolia;
  opacity: 0.85;
  top: -10em;
  .field{
    width: 374px;
  }
  .field:focus{
    box-shadow: none;
  }
}

.card-backyard{
  justify-content: space-between;
}

.home-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  a{
    text-decoration: none;
  }
  .card-prices{
    position: absolute;
    bottom: 1em;
  }
}
#featured{
      font-size: 4em;
      padding: 59px;
}