<div class="d-flex align-items-center justify-content-between p-5 m-2">
  <div class="profile-header">
    <h2 class="text-info">Welcome, <%= current_user.email %></h2>
  </div>
  <%= cl_image_tag current_user.avatar.key, class: "avatar-profile" %>
</div>