<div class="home-banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1598497917893-1e277163425f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');">
  <h1>Yardsail</h1>
</div>

<div class="text">
  <h3 class="text-center mt-5">Featured</h3>
  <div class="content">
    <div class="cards">
      <div class="card-backyard">
        <div class="card-backyard-infos">
        </div>
      </div>
    </div>
  </div>
</div>