.home-banner {
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
.home-title{
  h1 {
    font-size: 6.5rem;
    position: relative;
    top: -2em;
  }
  h3 {
    position: relative;
    top: -7em;
  }
}
}