.card-backyard {
  position: relative;
  overflow: hidden;
  background: $pale-green;
  height: 340px;
  box-shadow: 0 0 15px $pale-green-shaddow;
  border-radius: 15px;
  color: $brown;
}


.card-backyard>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-backyard h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-backyard p {
  padding: 10px;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-backyard .card-backyard-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}


.show-container {
  padding-top: 100px;
}

.backyard-description {
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  font-size: 20px;
  // margin: 8px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // position: relative;
  position: sticky !important;
  top: 100px;
  // bottom: 0;
  // left: 0;  
}

.card-backyard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-backyard .description {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;

.column {
  height: 100%;
  width: 120px;
  object-fit: cover;
  // position: relative;

}

.col-sm-6 {
  margin-top: 45px;
  padding: 20px;
  padding-top: 25px;

}

.show-image {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.align-bottom {
  text-align: left;
}

.card-backyard-icons {
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 5px;
  font-size: 1.2rem;
}

.card-backyard-favourite {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-baryard-reviews {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.heart-icon-white {
  color: $pale-green
}

.heart-icon-red {
  color: $light-red;
}

.backyard-description .save-later i:hover {
  text-decoration: none !important;
}

.review-rating-stars {
  flex-grow: 1;
}

.show-container .backyard-description .favourite-link:hover {
  text-decoration: none;
}

.favourite-button-is {
  position: absolute;
  top: -15px;
  right: -20px;
}
