.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 10;
  transition: background 0.6s ease;
  padding: 25px;
  font-size: 1.4rem;

  .nav-link{
    color: $bright-green !important;
    margin-right: 10px !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

//for JS code
.navbar-lewagon-white {
  background: $pale-green;
  box-shadow: 0px 2px 2px $pale-green-shaddow;
   .nav-link {
     color: $green !important;
   }
}
