.searchbar{
  border: solid $bright-green;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  color: $bright-green;
  .field{
    width: 304px;
    background-color: transparent;
    border: none;
    padding-right: 25px;
    margin-right: 4px;
    color: $bright-green;
  }
  .button{
    border: none;
  }

}